@font-face {
    font-family: Josefin;
    src: url(../fonts/josefin-sans-v20-latin-regular.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Josefin;
    src: url(../fonts/josefin-sans-v20-latin-700.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Josefin;
    src: url(../fonts/josefin-sans-v20-latin-300.woff2);
    font-weight: lighter;
    font-style: normal;
}

html * {
    box-sizing: border-box;
    font-family: Josefin;
}

p * {
    margin-top: 0;
}

html,
body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

:root {
    --light-brown: #c29067;
    --side-space: 3rem;
}

img {
    max-width: 100%;
}

#desktop-menu {
    display: none;
}
#desktop-menu li {
    list-style-type: none;
}
.inner-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

#head-wrapper .container:first-of-type {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 1.5rem; */
}

nav {
    padding: 1.6rem;
}

.logo {
    width: 100%;
    max-width: 28rem;
    padding: 0.8rem;
}

#quality-seal img {
    position: absolute;
    width: 15vw;
    max-width: 8rem;
    height: auto;
    right: 1.5rem;
    bottom: 12rem;
    z-index: 10;
}

#head-wrapper .container:last-of-type {
    position: relative;
}

#head-wrapper #hero-img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

#main-wrapper {
    display: flex;
    flex-flow: column;
    padding: 0 var(--side-space);
    width: 100%;
}

#main-wrapper-top {
    position: relative;
    text-align: center;
    font-size: 3.5rem;
    color: silver;
    margin: 3rem 0;
}

#main-wrapper .main-wrapper-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

/* #main-wrapper .main-wrapper-middle .articles {
    margin: 0 auto;
} */

#main-wrapper .main-wrapper-middle .articles img {
    /* min-width: 36rem; */
    max-width: 100%;
    /* width: 25.6rem; */
}

#main-wrapper-bottom {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 0 6rem;
}

#main-wrapper-bottom p {
    text-align: center;
    font-size: 2rem;
    color: silver;
    margin: 0;
}

#main-wrapper-bottom button {
    font-size: 2rem;
    background: none;
    color: silver;
    border: 0.2rem solid silver;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
}

#footer-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#footer-wrapper .start-footer {
    background-color: var(--light-brown);
    width: 100%;
    padding: 2.5rem 0;
}

#footer-wrapper .start-footer ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

#footer-wrapper .start-footer ul li {
    list-style-type: none;
    padding: 0 0 1.5rem;
}

#footer-wrapper .start-footer ul li:last-of-type {
    padding: 0;
}

#footer-wrapper .start-footer ul li a {
    font-family: Josefin;
    text-decoration: none;
    font-weight: normal;
    font-size: 2rem;
    color: lightgray;
}

#footer-wrapper .end-footer {
    background-color: grey;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: lightgray;
    padding: 2.5rem 0;
}

#team-boxes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#team-boxes .team-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#team-boxes .team-box:nth-child(2n) {
    display: flex;
    flex-direction: column-reverse;
}

#team-boxes .team-box p {
    max-width: 320px;
    max-height: auto;
    font-size: 1.8rem;
    overflow: auto;
}

#team-boxes .team-box img {
    flex: 1;
}

#team-boxes .team-box p:first-of-type {
    font-weight: bold;
}

.about-us-articles {
    display: flex;
    flex-flow: column;
    max-width: 720px;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5rem;
}

input {
    border-color: var(--light-brown);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0 0 1rem;
    caret-color: var(--light-brown);
    outline-color: var(--light-brown);
}

.input-box {
    width: 100%;
}

textarea,
input {
    resize: none;
    border-radius: 3px;
    border: 3px solid var(--light-brown);
}
button {
    padding: 1rem 2rem;
    background-color: white;
    color: grey;
    border: 3px solid var(--light-brown);
    border-radius: 3px;
}

#contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.6rem;
}

#form {
    flex: 1;
    color: darkgrey;
}
#form div {
    padding: 0 0 1rem;
}
#adress {
    flex: 1;
    text-align: left;
    padding: 3rem 5rem 0;
}

.ani:hover {
    transform: scale(1.1);
    transition: 1s ease-out;
}

.ani2:hover {
    transform: scale(1.05);
    transition: 1s ease-out;
}

@media screen and (min-width: 720px) {
    #main-wrapper .main-wrapper-middle .articles img {
        max-width: 100%;
        width: 25.6rem;
    }
    #mobile-menu {
        display: none;
    }

    #desktop-menu {
        display: block;
    }

    #desktop-menu ul {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 1rem;
    }

    #desktop-menu a {
        text-decoration: none;
        font-size: 1.6rem;
        padding: 0 1rem;
        color: grey;
        font-weight: bold;
    }

    #main-wrapper .main-wrapper-middle .articles:hover {
        transform: scale(1.1);
        transition: 1s ease-out;
    }

    #team-boxes .team-box {
        flex-direction: row;
    }

    #team-boxes .team-box:nth-child(2n) {
        flex-direction: row-reverse;
    }

    #contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 1.6rem;
    }

    #form {
        flex: 0.5;
        color: darkgrey;
    }
    #form div {
        padding: 0 0 1rem;
    }
    #adress {
        flex: 0.5;
        text-align: left;
        padding: 0 5rem;
    }
}

@media screen and (min-width: 1280px) {
    #mobile-menu {
        display: none;
    }

    #desktop-menu {
        display: block;
    }

    #desktop-menu ul {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 1rem;
    }

    #desktop-menu a {
        text-decoration: none;
        font-size: 2rem;
        padding: 0 1rem;
        color: grey;
        font-weight: bold;
    }

    #main-wrapper .main-wrapper-middle .articles img {
        /* min-width: 36rem; */
        max-width: 100%;
        width: 25.6rem;
    }

    #gallery {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }
    #gallery img:nth-of-type(2) {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        width: 100%;
    }
    #contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 1.6rem;
    }

    #form {
        flex: 0.5;
        color: darkgrey;
    }
    #form div {
        padding: 0 0 1rem;
    }
    #adress {
        flex: 0.5;
        text-align: left;
        padding: 0 5rem;
    }
}
